<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>

    <form role="form" action="/user/new" th:object="${userForm}" method="post"> <!--${memberForm} 여기에 addAttribute 에 의해 MemberForm 객체(object)가 들어옴-->
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'"> <!--*{name} 여기서 *는 object로 받은 MemberForm 객체를 뜻하고 그 객체의 name 필드값을 받는다  -->
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="nickName">닉네임</label>
            <input type="text" th:field="*{nickName}" class="form-control" placeholder="닉네임을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="nickName">직업</label>
            <input type="text" th:field="*{job}" class="form-control" placeholder="직업을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="gender">성별</label>
            <select th:field="*{gender}" class="form-control">
                <option value="">-- 성별을 선택하세요 --</option>
                <option th:value="MALE">남성</option>
                <option th:value="FEMALE">여성</option>
            </select>
        </div>
        <div class="form-group">
            <label th:for="ageGroup">나이대</label>
            <select th:field="*{ageGroup}" class="form-control">
                <option value="">-- 나이대를 선택하세요 --</option>
                <option th:value="TEENS">10대</option>
                <option th:value="TWENTIES">20대</option>
                <option th:value="THIRTIES">30대</option>
                <option th:value="FORTIES_PLUS">40대 이상</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button> <!--type="submit" 이 부분이 form 데이터를 서버로 전송하는 트리거 역할을 한다 -> 바로 그 순간 @PostMapping 메서드로 요청이 넘어감  -->
    </form>
    <br/>
    <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->

</body>
</html>