<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>닉네임</th>
                <th>직업</th>
                <th>성별</th>
                <th>나이</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,userstat : ${users}">
                <td th:text="${userstat.count}"></td>
                <td th:text="${user.nickName}"></td>
                <td th:text="${user.job}"></td>
                <td th:text="${user.gender}"></td>
                <td th:text="${user.ageGroup}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->
</body>
</html>